*{
    padding: 0;
    margin: 0;
}
main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(43, 43, 43, 0.445);
    padding: 5px;
    text-align: center;
    padding-top: 30px;
}
#calculadora h1{
    font-size: 10px;
    position: absolute;
    top: 15px;
}
#resultado{
display: block;
    margin: auto;
    width: 180px;
    height: 20px;
    background-color: white;
    margin: 15px;
    padding: 5px;
    text-align: right;
}
#on {
    width: 35px;
    height: 25px;
    border-radius: 35px ;
    background-color: red;
    border: none;
    color: white;
}
.fun {
    color: black;
    width: 35px;
    height: 25px;
    border-radius: 35px ;
    border: none;
    margin: 2px;
}
.numbers, .op {
    width: 35px;
    height: 35px;
    margin: 2px;
    border-radius:10px;
    color: white;
    background-color: gray;
}
.op{
    background-color: black;
}

